*/*.gz
/data/*
*/data/*
*/*.csv
*.pdf 
*.ipynb
*/*.pdf
*/*.ipynb
*.zip
*/*.zip
*.png
*/*.png
*/*/*.ipynb
*/*/*.pyc 
*/*.pyc
*.pyc
*.docx
*/*.docx
*.png
*/*.png
*/*/*.png
*.jpg
*/*.jpg
./mandatory_1/prelimcode/data/VOC2012/* 
